.forgot-password-container{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius:5px ;
}
.forgot-password-container h2{
    align-items: center;
    margin-bottom: 20px;
}
.forgot-password-form{
    display: flex;
    flex-direction: column;
}
.forgot-password-form label{
    margin-bottom: 5px;
}
.forgot-password-form input{
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px ;
}
.forgot-password-form button{
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 10px 20px;
    background-color: #007bff;
}
.forgot-password-form button:hover{
    background-color: #0056b3;
}