.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 120px;
    color: white;
}
.nav-logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
    font-weight: 500;
    display: flex;
    margin-left: -80px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 20px;
    margin-left: 180px;
    margin-top: -50px;
}

.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background-color: white;
    color: #262626;
    text-decoration: none;
}
.nav-contact:hover {
  background-color: #baaeba; 
}
.logo{
    width: 220px;
    height: auto;
    margin-top:-80px;
    
}