.navbar {
  background-color: #4CAF50; /* Green background */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding for top and bottom, and some horizontal padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  width: 100%; /* Full width */
}

.navbar-container {
  max-width: 1200px; /* Limit the width to 1000px */
  margin: 0 auto; /* Center the container horizontally */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items vertically */
}

.navbar-logo {
  font-size: 24px; /* Font size for the logo */
  margin: 0; /* Remove default margin */
  font-weight: bold; /* Bold font weight */
  letter-spacing: 1px; /* Add some letter spacing */
  background-size: 40px; /* Adjust background size */
  background-position: left center; /* Position the background */
  background-repeat: no-repeat; /* Prevent background from repeating */
  margin-left: -470px;
  order: 1; /* Ensure h2 is on the right */
}

.navbar-menu {
  list-style-type: none; /* Remove default list style */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  display: flex; /* Use flexbox for layout */
  order: 2; /* Ensure list items are on the left */
}

.navbar-item {
  margin-right: 20px; /* Margin between list items */
}

.navbar-link {
  color: #fff; /* White text color */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Font size */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  transition: color 0.3s ease; /* Smooth color transition */
}

.navbar-link i {
  margin-right: 5px; /* Margin between icon and text */
  font-size: 18px; /* Icon font size */
}

.navbar-link:hover {
  color: #ffd700; /* Yellow text color on hover */
  text-decoration: underline; /* Underline on hover */
}

/* Additional styles for enhanced interactivity */
.navbar-link:hover i {
  transform: scale(1.1); /* Scale icon on hover */
}

.navbar-menu li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}
.logo-icon{
  width: 40px;
  height: auto;
}
