.sign-in-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-in-container h2 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

.sign-in-form {
    padding: 20px;
}

.sign-in-form label {
    display: block;
    margin-bottom: 10px;
}

.sign-in-form input,
.sign-in-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.sign-in-form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sign-in-form button[type="submit"]:hover {
    background-color: #444;
}

.sign-in-form p {
    text-align: center;
    margin-top: 10px;
}

.sign-in-form a {
    display: flex;
    text-align: center;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

.sign-in-form a:hover {
    text-decoration: underline;
}